{# base_email.html #}
{# from: https://github.com/mailgun/transactional-email-templates #}
{% load pipeline %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}{% endblock title %}</title>
{% stylesheet 'email-libs' %}
</head>

<body>

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">

                </table>
                <div class="footer">
                    <table width="100%">
                    {% block content %}
                    {% endblock content %}
                        <tr>
                            <td class="aligncenter content-block">
                            <a href="">Calendall</a> {% trans "your favourite public calendar repository" %}
                            </td>
                        </tr>
                    </table>
                </div></div>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>