{# profiles/profiles_login.html #}
{% extends "profiles/profiles_base.html" %}
{% load i18n %}
{% load core_tags %}

{% block content %}

{% if form.non_field_errors %}
<div class="ui centered column grid">
    <div claa="ui row">
    <div class="ui error message">
    <i class="close icon"></i>
        <div class="header">{% trans "Login failed" %}</div>
        <!-- there is only one non field error -->
            <p class="form-error">{{ form.non_field_errors.0 }}</p>
    </div>
</div>
{% endif %}
<div class="ui six wide centered column grid">
    <div class="ui row">
        <div class="ui top attached segment sixteen wide column">
            <div class="ui hidden divider"></div>
            <form accept-charset="UTF-8" action="{% url 'profiles:ask_password_reset' %}" class="ui fluid form" id="ask-password-reset-form" method="post">

                {% csrf_token %}
                <!-------------- email field ---------------------->
                <div class="ui field input {% if form.email.errors %} error {% endif %}">
                    <label>{{ form.email.label }}</label>
                    <input id="{{ form.email.auto_id }}"
                            name="{{ form.email.name }}"
                            type="text"
                            value="{{ form.email.value|default:''}}">
                     {% if form.email.errors %}
                         <div class="ui red pointing small label transition visible">
                           {% join_strings form.email.errors " and " ", " %}
                         </div>
                     {% endif %}
                </div>

                <button type="submit" class="ui primary button" id="ask_password_reset_button">{% trans "Reset password" %}</button>
            </form>
        <div class="ui top attached big label">
            {% trans "Forgot password" %}
        </div>
        </div>
    </div>

</div>

{% endblock content %}