{# profiles/profiles_login.html #}
{% extends "profiles/profiles_base.html" %}
{% load i18n %}
{% load core_tags %}

{% block content %}

{% if form.non_field_errors %}
<div class="ui centered column grid">
    <div claa="ui row">
    <div class="ui error message">
    <i class="close icon"></i>
        <div class="header">{% trans "Password reset failed" %}</div>
        <!-- there is only one non field error -->
            <p class="form-error">{{ form.non_field_errors.0 }}</p>
    </div>
</div>
{% endif %}
<div class="ui six wide centered column grid">

    <div class="ui row">
        <div class="ui top attached segment sixteen wide column">
            <div class="ui hidden divider"></div>
              <form accept-charset="UTF-8" action="{% url 'profiles:password_reset'  object.username object.reset_token %}" class="ui fluid form settings" id="password-reset-form" method="post">

                  {% csrf_token %}
                  <!-------------- New password ---------------------->
                  <div class="ui field input {% if form.password.errors %} error {% endif %}">
                    <label>{{ form.password.label }}</label>
                    <input id="{{ form.password.auto_id }}"
                            name="{{ form.password.name }}"
                            type="password"
                            value="">
                     {% if form.password.errors %}
                         <div class="ui red pointing left small label transition visible">
                           {% join_strings form.password.errors " and " ", " %}
                         </div>
                     {% endif %}
                 </div>

                  <!-------------- New password validation---------------------->
                  <div class="ui field input {% if form.password_verification.errors %} error {% endif %}">
                    <label>{{ form.password_verification.label }}</label>
                    <input id="{{ form.password_verification.auto_id }}"
                            name="{{ form.password_verification.name }}"
                            type="password"
                            value="">
                     {% if form.password_verification.errors %}
                         <div class="ui red pointing left small label transition visible">
                           {% join_strings form.password_verification.errors " and " ", " %}
                         </div>
                     {% endif %}
                 </div>


                  <button type="submit" class="ui primary button" id="update_button">{% trans "Change password" %}</button>
                </form>
                <div class="ui top attached big label">
                    {% trans "Change your password" %}
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock content %}