{# profiles/profiles_login.html #}
{% extends "profiles/profiles_base.html" %}
{% load i18n %}
{% load core_tags %}

{% block content %}

{% if form.non_field_errors %}
<div class="ui centered column grid">
    <div claa="ui row">
    <div class="ui error message">
    <i class="close icon"></i>
        <div class="header">{% trans "Login failed" %}</div>
        <!-- there is only one non field error -->
            <p class="form-error">{{ form.non_field_errors.0 }}</p>
    </div>
</div>
{% endif %}
<div class="ui six wide centered column grid">

    <div class="ui row">
        <div class="ui top attached segment sixteen wide column">
            <div class="ui hidden divider"></div>
            <form accept-charset="UTF-8" action="{% url 'profiles:login' %}" class="ui fluid form" id="signin-form" method="post">

                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />

                <!-------------- Username field ---------------------->
                <div class="ui field input {% if form.username.errors %} error {% endif %}">
                    <label>{{ form.username.label }}</label>
                    <input id="{{ form.username.auto_id }}"
                            name="{{ form.username.name }}"
                            type="text"
                            value="{{ form.username.value|default:''}}">
                     {% if form.username.errors %}
                         <div class="ui red pointing small label transition visible">
                           {% join_strings form.username.errors " and " ", " %}
                         </div>
                     {% endif %}
                </div>

                <!-------------- password field ---------------------->
                <div class="ui field input {% if form.password.errors %} error {% endif %}">
                    <label>{{ form.password.label }} <a href="">({% trans "forgot password" %})</a></label>
                    <input id="{{ form.password.auto_id }}"
                            name="{{ form.password.name }}"
                            type="password"
                            value="{{ form.password.value|default:''}}">
                     {% if form.password.errors %}
                         <div class="ui red pointing small label transition visible">
                           {% join_strings form.password.errors " and " ", " %}
                         </div>
                     {% endif %}
                </div>

                <button type="submit" class="ui primary button" id="login_button">{% trans "Login" %}</button>
            </form>
        <div class="ui top attached big label">
            {% trans "Login" %}
        </div>
        </div>
    </div>

</div>

{% endblock content %}