{# profiles/profiles_calendaluser_create #}
{% extends "profiles/profiles_base.html" %}
{% load i18n %}
{% load gravatar %}
{% load core_tags %}


{% block content %}

{% if form.non_field_errors %}
<div class="ui centered column grid">
    <div claa="ui row">
    <div class="ui error message">
    <i class="close icon"></i>
        <div class="header">{% trans "Passord reset failed" %}</div>
        <!-- there is only one non field error -->
            <p class="form-error">{{ form.non_field_errors.0 }}</p>
    </div>
</div>
{% endif %}

<div class="ui fourteen wide centered column grid">

  <div class="ui row">
    <div class="four wide column">
      {% include "profiles/profiles_include_settings_menu.html" with current="account" %}
    </div>

    <div class="right floated left aligned twelve wide column">
      <div class="ui top attached segment">
        <div class="ui hidden divider"></div>
         <div class="left aligned row">
            <div class="ui top big attached label">
              {% trans "Password reset" %}
            </div>

            {# Form #}
            <div class="column">
              <form accept-charset="UTF-8" action="{% url 'profiles:account_settings' %}" class="ui fluid form settings" id="account-settings-form" method="post">

                  {% csrf_token %}
                  <!-------------- Old password ---------------------->
                  <div class="ui field input {% if form.old_password.errors %} error {% endif %}">
                    <label>{{ form.old_password.label }}</label>
                    <input id="{{ form.old_password.auto_id }}"
                            name="{{ form.old_password.name }}"
                            type="password"
                            value="">
                     {% if form.old_password.errors %}
                         <div class="ui red pointing left small label transition visible">
                           {% join_strings form.old_password.errors " and " ", " %}
                         </div>
                     {% endif %}
                 </div>

                  <!-------------- New password ---------------------->
                  <div class="ui field input {% if form.password.errors %} error {% endif %}">
                    <label>{{ form.password.label }}</label>
                    <input id="{{ form.password.auto_id }}"
                            name="{{ form.password.name }}"
                            type="password"
                            value="">
                     {% if form.password.errors %}
                         <div class="ui red pointing left small label transition visible">
                           {% join_strings form.password.errors " and " ", " %}
                         </div>
                     {% endif %}
                 </div>

                  <!-------------- New password validation---------------------->
                  <div class="ui field input {% if form.password_verification.errors %} error {% endif %}">
                    <label>{{ form.password_verification.label }}</label>
                    <input id="{{ form.password_verification.auto_id }}"
                            name="{{ form.password_verification.name }}"
                            type="password"
                            value="">
                     {% if form.password_verification.errors %}
                         <div class="ui red pointing left small label transition visible">
                           {% join_strings form.password_verification.errors " and " ", " %}
                         </div>
                     {% endif %}
                 </div>


                  <button type="submit" class="ui primary button" id="update_button">{% trans "Reset password" %}</button>
                </form>
              </div>
          </div>
          </div>
  </div>
</div>
{% endblock content %}