{# profiles/emails/profiles_email_activation.html #}
{% extends "base_email.html" %}
{% load i18n %}

{% block title %}
	{% trans "Hi {{ user.username }}!" %}
{% endblock title %}

{% block content %}
	<tr>
		<td class="content-block">
		{% blocktrans %}
			Please confirm your email address by clicking the link below.
		{% endblocktrans %}
		</td>
	</tr>
	<tr>
		<td class="content-block">
		{% blocktrans %}
			Sometimes we will need to send you notifications and only the
			confirmed emails will receive this alerts.
		{% endblocktrans %}
		</td>
	</tr>
	<tr>
		<td class="content-block">
			<a href="http://www.mailgun.com" class="btn-primary">{% trans "Confirm email address" %}</a>
		</td>
	</tr>
	<tr>
		<td class="content-block">
			&mdash; Calendall with <3
		</td>
	</tr>
{% endblock content %}